<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>My Music Library</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="My Music Library">
    <meta name="author" content="JC">

    <link href="/static/css/bootstrap.css" rel="stylesheet">
    <style type="text/css">
	body {
	    padding-top: 60px;
	    padding-bottom: 40px;
	}
	.sidebar-nav {
	    padding: 9px 0;
	}
    </style>
    <link href="/static/css/bootstrap-responsive.css" rel="stylesheet">
    <link href="/static/css/myspace.css" rel="stylesheet">
    <link rel="shortcut icon" href="img/favicon.ico">
  </head>
  <body>
    <div class="navbar navbar-inverse navbar-fixed-top">
	<div class="navbar-inner">
	  <div class="container">
	    <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
	    </a>
	    <a class="brand" href="#">My Music Library</a>
	    <div class="nav-collapse collapse">
		<ul class="nav">
		    <li class="active"><a href="/musicapp/musiclib/playlist">Home</a></li>
		    <li><a href="#about">About</a></li>
		    <li><a href="#contact">Contact</a></li>
		    <li>|</li>
		    <li><a href="/musicapp/musiclib/profile">[{{ user.username }}]</a></li>
		</ul>
		<form class="navbar-form pull-right" action="/musicapp/musiclib/logout/" method="post">
		{% csrf_token %}
		    <button type="submit" class="btn">Sign out</button>
		</form>
	    </div>
	</div>
      </div>
    </div>
    <div class="container">
      <div class="row">
	<div class="span6">
	  <h1>{{ playlist.name }}</h1>
	</div>
	<div class="span4">
	  <button class="btn btn-large btn-primary" type="button" onClick="startPlaying();">Start Playing</button>
	</div>
	<div class="span2">
	  <a href="/musicapp/musiclib/playlist/">[Back to Playlists]</a>
	</div>
      </div>
      <div class="row">
	<div class="span6">
          <ul class="nav nav-list" id="SongListID">
            <li class="nav-header">[{{ songCnt}}] Songs</li>
	    {% if songs %}
	      {% for song in songs %}
	    <li id="id_{{song.id}}"><i class="icon-music"></i>{{ song.artist.name }} - {{ song.name }}</li>
	      {% endfor %}
	    {% endif %}
	  </ul>
        </div>
	<div class="span6">
	  {% if songs %}
	  <h4 id="NowPlayingID">Now Playing: </h4>
	  <audio id="AudioPlayerID" controls>
	  </audio>
	  {% endif %}
	</div>
      </div>
    </div>

    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script type="text/javascript">
    $.Song = function (id, name, path, artist) {
	this.id = id;
	this.name = name;
	this.path = path;
	this.artist = artist;
    };
    $.PlayList = function (name) {
	this.name = name;
	this.songs = [];
	this.currentSongIX = 0;
    };
    var playlist = new $.PlayList('{{ playlist.name }}');
    (function() {
	var currSong;
	{% for song in songs %}
	currSong = new $.Song({{song.id}},
		'{{song.name}}','/static/{{song.file}}',
		'{{song.artist.name}}');
	playlist.songs.push(currSong);
	{% endfor %}
    })();
    function playNextSong(player) {
      if (playlist.currentSongIX >= playlist.songs.length) 
	  return;
      $('#NowPlayingID').text(
		'Now Playing: ' + playlist.songs[playlist.currentSongIX].name);
      player.src = playlist.songs[playlist.currentSongIX].path;
      player.play();
      playlist.currentSongIX++;
    }
    function startPlaying() {
	var player = document.getElementById("AudioPlayerID");
	player.addEventListener('ended', function() {
		playNextSong(player);
		}, false);
	playNextSong(player);
    };
    </script>
  </body>

</html>
